documents/hauptdatei.aux
/documents/hauptdatei.log
/documents/hauptdatei.pdf
/documents/hauptdatei.synctex.gz
/documents/hauptdatei.toc
/documents/lastenheft.aux
/documents/lastenheft.log
/documents/lastenheft.synctex.gz
/documents/stundenprotokolle/carnerkarastunden.log
/documents/stundenprotokolle/dennisbehrendtstunden.log
/documents/stundenprotokolle/hannesschererstunden.log
/documents/stundenprotokolle/svenwolfstunden.log
/documents/stundenprotokolle/teammeetings.log
/documents/stundenprotokolle/timsilbumstunden.log
/documents/stundenprotokolle/timturowskistunden.log