/documents/pflichtenheft/pflichtenheft.aux
/documents/pflichtenheft/pflichtenheft.log
/documents/pflichtenheft/pflichtenheft.pdf
/documents/pflichtenheft/pflichtenheft.synctex.gz
/documents/pflichtenheft/pflichtenheft.toc

/documents/protokolle/protokolle.aux
/documents/protokolle/protokolle.log
/documents/protokolle/protokolle.pdf

/documents/protokolle/stundenprotokolle/carnerkarastunden.log
/documents/protokolle/stundenprotokolle/dennisbehrendtstunden.log
/documents/protokolle/stundenprotokolle/hannesschererstunden.log
/documents/protokolle/stundenprotokolle/svenwolfstunden.log
/documents/protokolle/stundenprotokolle/timsilbumstunden.log
/documents/protokolle/stundenprotokolle/timturowskistunden.log
/documents/protokolle/stundenprotokolle/teammeetings.log